name: CI

on:
    push:
        branches:
            - main
            - dev
            - temp_test_branch  # if in need, create such a temporary branch to test some functions
    pull_request:
        branches:
            - dev

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest, windows-latest, macOS-latest ]
                python-version: [ '3.7', '3.10' ]

        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: ${{ matrix.python-version }}
                check-latest: true
                cache: pip
                cache-dependency-path: |
                    requirements.txt

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install requirements.txt
                pip install pytest coverage

            -   name: Test with pytest
                run: |
                    coverage run --source=pygrinder -m pytest

            -   name: Write the LCOV report
                run: |
                    coverage lcov

            -   name: Submit report
                uses: coverallsapp/github-action@master
                with:
                    github-token: ${{ secrets.GITHUB_TOKEN }}
                    path-to-lcov: 'coverage.lcov'
